<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.enrz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.open.enrz.application.EnrzApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
      <!-- 动态tab -->
        <activity
            android:name="com.open.enrz.activity.DynamicMainTabActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_dynamic_main_tab_desp"
            android:theme="@style/Theme.PageIndicatorDefaults" 
             >
        </activity>
        <!-- webview -->
        <activity
            android:name="com.open.enrz.activity.EnrzWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_webview_desp" >
        </activity>
         <!-- 首页 -->
        <activity
            android:name="com.open.enrz.activity.EnrzLogoDefaultActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_logo_default_desp" >
        </activity>
        <!-- 子tab页面 -->
        <activity
            android:name="com.open.enrz.activity.GnSubIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_gn_sub_indicator_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
         <!-- 子列表listview-->
        <activity
            android:name="com.open.enrz.activity.GnSubPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_gn_sub_listview_desp" >
        </activity>
         <!-- 详细scroll-->
        <activity
            android:name="com.open.enrz.activity.ContboxScrollFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_contbox_scroll_desp" >
        </activity>
         <!-- 主测试页面图片预览-->
        <activity android:name="net.nightwhistler.htmlspanner.MainActivity"
            android:description="@string/enrz_html_spanner_main_desp"
            />
         <!-- 图片预览-->
        <activity android:name="net.nightwhistler.htmlspanner.ImgPreviewActivity"
            android:description="@string/enrz_html_spanner_viewpager_desp"
            />
         <!-- html图片预览-->
        <activity android:name="com.open.enrz.activity.HtmlImgPreviewActivity"
            android:description="@string/enrz_html_spanner_viewpager_html_desp"
            />
         <!--图库viewpager-->
        <activity android:name="com.open.enrz.activity.EnrzImageViewPagerActivity"
            android:description="@string/enrz_image_viewpager_desp"
            />
         <!--图库 fragment viewpager-->
        <activity android:name="com.open.enrz.activity.EnrzImageViewPagerFragmentActivity"
            android:description="@string/enrz_image_viewpager_fragment_desp"
            />
        <!--24 小时热榜-->
        <activity android:name="com.open.enrz.activity.Enrz24HoursPostsActivity"
            android:description="@string/enrz_hour_hot_fragment_desp"
            />
        <!--搜索-->
        <activity android:name="com.open.enrz.activity.SearchActivity"
            android:description="@string/enrz_search_desp"
            />
        <!--其他相关推荐-->
        <activity android:name="com.open.enrz.activity.EnrzRaletionPostsActivity"
            android:description="@string/enrz_raletion_fragment_desp"
            />
        <!--评论-->
        <activity android:name="com.open.enrz.activity.EnrzCommentActivity"
            android:description="@string/enrz_comment_fragment_desp"
            />
         <!-- 美图 -->
        <activity
            android:name="com.open.enrz.activity.PicIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_pic_indicator_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        <!-- 美女grid列表-->
        <activity
            android:name="com.open.enrz.activity.PicPullGridFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_pic_grid_desp" 
			>
        </activity>
        <!-- 美女nav-->
        <activity
            android:name="com.open.enrz.activity.PicIndicatorSubNavFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_pic_nav_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
			>
        </activity>
        <!-- 美图首页-->
        <activity
            android:name="com.open.enrz.activity.PicExpendExpandableListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_pic_expend_desp" 
			>
        </activity>
        <!-- 看图详细-->
        <activity
            android:name="com.open.enrz.activity.DetailThumbPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_detail_thumb_desp" 
			>
        </activity>
        <!-- 看图gallery-->
        <activity
            android:name="com.open.enrz.activity.PicGalleryFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_pic_gallery_desp" 
			>
        </activity>
         <!-- 看图详细gallery-->
        <activity
            android:name="com.open.enrz.activity.DetailThumbPullListGalleryFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_detail_thumb_gallery_desp" 
			>
        </activity>
         <!-- m webview -->
        <activity
            android:name="com.open.enrz.activity.m.EnrzMWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_webview_desp" >
        </activity>
         <!--  m首页头部list -->
        <activity
            android:name="com.open.enrz.activity.m.MThumbHeadListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_thumb_head_list_desp" >
        </activity>
        <!--   m cate数据 -->
        <activity
            android:name="com.open.enrz.activity.m.MThumbCateExpandListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_thumb_cate_expand_list_desp" >
        </activity>
         <!-- m head cate数据 -->
        <activity
            android:name="com.open.enrz.activity.m.MThumbCateHeadExpandListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_thumb_cate_head_expand_list_desp" >
        </activity>
         <!-- 可分页分类数据 -->
        <activity
            android:name="com.open.enrz.activity.m.MThumbCatePageListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_thumb_cate_page_list_desp" >
        </activity>
         <!-- m搜索 -->
        <activity
            android:name="com.open.enrz.activity.m.MSearchPageListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_search_page_list_desp" >
        </activity>
        <!-- m内容详细 -->
        <activity
            android:name="com.open.enrz.activity.m.MArticlePFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_article_desp"
            android:theme="@style/Theme.PageIndicatorDefaults" 
             >
        </activity>
         <!-- m内容评论 -->
        <activity
            android:name="com.open.enrz.activity.m.MDuoShuoListPostsFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_article_duoshuo_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults" 
            >
        </activity>
          <!-- mobile左菜单 -->
        <activity
            android:name="com.open.enrz.activity.mobile.MobileGlobalNavActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_mobile_global_nav_desp" 
            >
        </activity>
        <!-- mobile 手机适配器菜单 -->
        <activity
            android:name="com.open.enrz.activity.mobile.MobileGlobalNavMPullFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_mobile_global_nav_m_pull_desp" 
            >
        </activity>
         <!-- 发布评论 -->
        <activity
            android:name="com.open.enrz.activity.m.MDuoShuoCreateFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_m_duoshuo_create_desp" 
            >
        </activity>
         <!-- mobile 美图首页-->
        <activity
            android:name="com.open.enrz.activity.mobile.MobileMeiTuExpendExpandableListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_mobile_meitu_expend_desp" 
			>
        </activity>
         <!-- mobile 图片列表-->
        <activity
            android:name="com.open.enrz.activity.mobile.MobileMeiTuPullGridFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_mobile_meitu_pull_grid_desp" 
			>
        </activity>
        <!-- 所有类列表 -->
        <activity
            android:name="com.open.enrz.activity.EnrzALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enrz_all_desp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>